extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Register Yourself

        // register form
        form(method='POST' action='/api/users')
          div.form-group
            label(for='firstname') FirstName:
            input#name.form-control(type='text', placeholder='first name' name='firstname')
          div.form-group
            label(for='lastname') LastName:
            input#email.form-control(type='text', placeholder='last name' name='lastname')
          button.btn.btn-primary(type='submit') Register
        form(method='GET' action='/api/users/all')
          hr
          button.btn.btn-primary(type='submit') Get users
        form(method='GET' action= '/api/users/')
          hr
          div.form-group
            input#id.form-control(type='text', placeholder='Enter id' name='id')
          button.btn.btn-primary(type='submit') Get User