extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Users Info
        div
            table.table.table-striped
                thead
                tr
                    th MongoDB Id
                    th First Name
                    th Last Name
                tbody
                each user, i in users
                    tr
                    td #{user.id}
                    td #{user.firstname}
                    td #{user.lastname} 